@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body, input, textarea, button {
  font-family: 'Roboto';
  font-weight: 400;
}